{% extends 'todo/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>ToDo-List</h1>
<div>
    <table>
        <tr>
            <th></th>
            <th>Todo</th>
            <th>Deadline</th>
            <th>Progress</th>
            <th></th>
        </tr>
        {% for item in d %}
            <tr>
                {% if item.complete == True %}
                    <td><input type="checkbox" name="" checked></td>
                {% else %}
                    <td><input type="checkbox" name="" unchecked></td>
                {% endif %}
                <td>{{item.task}}</td>
                <td>{{item.deadline}}</td>
                <td>{{item.progress}}</td>
                <td>Buttons</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}